<section class="about about-section grey-section">

	<h2 class="sub-title">About</h2>

	<div>
		<p>
			My name is Lewis. I’m a graduate in Biology currently working as a recruitment agent in Hertford. Since school I’ve always had a passion for teaching and I retain this, even in my current job. I’ve always been involved in presentations and performances and I’ve always enjoyed being in front of an audience.
		</p>
		<p>
			My passion for teaching was kick-started at school where I was chosen as a peer mentor. I then went on to supply all the training materials for the new mentoring scheme at Freman College. I’ve been involved in teaching sustainable development through PeaceChild International in various schools throughout Hertfordshire and one in Slovenia where I was sent for a week representing the UK in an international event. I also performed several oral and poster presentations at various points at University, both to my peers and to younger students.
		</p>
	</div>

</section>