<section class="welcome welcome-section">

	<div class="welcome-blurb">
		<p>
			Hello and welcome to Thompson Tutorials! My name is Lewis Thompson, I’m a private tutor offering private and group lessons up to A-level standard in:
		</p>
		<p class="middle">
			Biology<br>
			Chemistry<br>
			Maths<br>
		</p>
		<p>
			I am available to tutor during evenings and weekends in the Buntingford area of Hertfordshire.
			<br>
			<br>
			For more information or to find out when I can book you in, please contact me, I am always happy to talk over options with anyone interested.
		</p>
	</div>

</section>